
  <head>
    <meta charset="utf-8">
    <title>PushBudget</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body ng-app="plaidLink" ng-controller="plaidCtrl" ng-cloak="true">
    <form id="some-id" method="GET" action="?"></form>
    <div style="display: inline-block; width: 300px; float: left;">
    <div ng-repeat="account in userData.accounts">
      Account Name:<span>{{account.meta.name}}</span></br>
      <span ng-if="account.subtype">Account Type: <span>{{account.subtype}}</span></br></span>
      Account Number: <span>{{account.meta.number}}</span></br>
      Account Limit: <span>{{account.meta.limit}}</span></br>
      Available Balance:<span>{{account.balance.available}}</span></br>
      Current Balance: <span>{{account.balance.current}}</span></br>
      <br>
    </div>
  </div>
  <div style="display: inline-block; width: 300px; float: left;">
    <div ng-if="userData.transactions" ng-repeat="transaction in userData.transactions" >
        Transaction: <span>{{transaction.name}}</span><br>
        <span ng-if="transaction.meta.location.city">Place: <span>{{transaction.meta.location.city}}, {{transaction.meta.location.state}}</span><br></span>
        Categories: <span ng-repeat="category in transaction.category">{{category}}, </span><br>
        Category Id: <span>{{transaction.category_id}}</span><br>
        Type: <span>{{transaction.type.primary}}</span><br>
        Amount <span>{{transaction.amount}}</span><br>
        <br>
    </div>
  </div>
  <div style="display: inline-block: width: 300px; float: left;">
    <span>{{userData.userInfo.info.names[0]}}</span><br>
    <span>{{userData.userInfo.info.phone_numbers[0].data}},{{userData.userInfo.info.phone_numbers[0].type}}</span>
  </div>
    <form ng-submit="openPlaidLink()">
      <input type="text"/ ng-model="login.userName">
      <input type="text" ng-model="login.userPassword"/>
    <button type="submit">PLAID LINK</button>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="node_modules/angular-plaid-link/src/angular-plaid-link.js"></script>
    <script src="app.js"></script>
    <script src="plaidCtrl.js"></script>
    <script
    src="https://cdn.plaid.com/link/stable/link-initialize.js"
    >
  </script>
  </body>
